@charset "utf-8" ;
.wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 1em;
    overflow-x: hidden;
}
.wrapper>article {
    padding: 1em;
    background: rgb(222, 225, 228);
}
.wrapper>article:nth-child(odd) {
    background: rgb(0, 110, 255);
}